---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const pageTitle = "Blog Page";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));


---
<BaseLayout pageTitle={pageTitle}>
		<p>Ok, in theory the blog goes here.  I'm not yet clear what that will actually look like, but I'm game to follow the tutorial.</p>

        <p>Ok, actualy blog posts, albeit in a less manual fashion</p>
            <ul>
    <!-- {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)} -->
  {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}

    </ul>
</BaseLayout>


